<html>
     <head>
        <meta charset="UTF-8"/>
    </head>
       <body>
            <h1> List NodeJs </h1>
            <table>
                <tr>
                    <td>Title</td>
                </tr>
                <tr for (book in data.books)>
                    <td>${book.id}</td>
                    <td>${book.title}</td>
                </tr>    
            </table>
       </body> 
</html>